@use '../../../globalStyles/' as gs;

.stars__radio__input__wrapper {
    width: 10.5rem;
    &>label {
        &>input {
            display: none;
            transition: 0.5s;
        }

        &>svg {
            cursor: pointer;
            font-size: 1.45rem;
            margin: 0.35rem;
            transition: 0.5s;

        }
    }
}