@use '../../globalStyles/' as gs;

.product__page{
    width: 100%;
    background: gs.$gray-background-color;
    padding: 3.875rem;
    position: relative;
    
    &__current__product{
        position: relative;
        @include gs.flex(column,center,center); 
    }
    
    &__review{
        @include gs.flex(column,center,center); 
        margin-top: 2.35rem;
    }
}