$text-color: #1B2437;
$light-text-color: #8E8E93;

$white: #ffffff;
$gray-background-color: #F6F6F6;
$pink: #EDA3B5;
$popularity-background:#E5E5EA;
$light-pink: #FEF6F8;
$red: #ff0000;
$option-after-color: #EFEFF4;

$loager-background: #1b243748;