@use '../../../globalStyles/' as gs;

.remove__cart__item__button {
    &>input {
        display: none;
    }

    &>svg {
        color: gs.$second-light-text-color;
        font-size: 1.3rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: gs.$red;
            transform: scale(1.1);
        }
    }

}