@use '../../../globalStyles/' as gs;

.remove__cart__item__button {

    @include gs.breakpoint(tablet-start, tablet-end) {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    @include gs.breakpoint(mobile-start, mobile-end) {
        position: absolute;
        top: 1rem;
        right: 1.2rem;
    }

    &>input {
        display: none;
    }

    &>svg {
        color: gs.$second-light-text-color;
        font-size: 1.3rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: gs.$red;
            transform: scale(1.1);
        }
    }

}