@use '../../global-styles/' as gs;

.header {
    width: 85.375rem;
    height: 11.25rem;
    @include gs.flex(column, center, center);

    &__top {
        width: 100%;
        height: 50%;
        @include gs.flex(row, space-between, center);
        padding: 2rem 3.25rem 3rem 2.5rem;

        &__social__icons {
            margin-right: 2.2rem;
            @include gs.flex(row, space-between, center);
            width: 10.2rem;

            &>img {
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        &__icons {
            &>img {
                cursor: pointer;
                margin-left: 1.46rem;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }

    &__bottom {
        width: 100%;
        height: 50%;
    }
}