@use '../../../globalStyles/' as gs;

.current__product__information__reviews {
    @include gs.flex(row, center, center);
    margin-bottom: 1rem;
    &>div>svg {
        margin-right: 0.7rem;
        font-size: 1.5rem;
        color: gs.$pink;
    }

    &>span{
        margin-left: 0.6rem;
    }
}