@use '../../globalStyles/' as gs;

.order__product {
    width: 100%;

    &__form {
        width: 100%;
        min-height: 11rem;
        @include gs.flex(column, space-between, flex-start);

        &>div {
            @include gs.flex(row, none, center);
        }

        &__sizes {
            min-width: 14.6rem;

            &__text,
            &__values {
                @include gs.flex(row, space-between, center);

                &>span {
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: capitalize;

                    &:nth-of-type(2){
                        color: gs.$pink;
                    }
                }
            }

            &__values{
                margin-top: 0.5rem;
            }
        }


    }


    // background: gray;
}