@use '../../globalStyles/' as gs;

.order__product {
    width: 100%;

    &__form {
        width: 100%;
        min-height: 11rem;
        @include gs.flex(column, space-between, flex-start);

        &__props {
            width: 100%;
            @include gs.flex(row, space-between, flex-start);

            @include gs.breakpoint(mobile-start, mobile-end) {
                @include gs.flex(column, space-between, center);
            }
        }

        &__sizes {
            width: 14.6rem;

            @include gs.breakpoint(tablet-start, tablet-end) {
                width: 49%;
            }

            &__text,
            &__values {
                @include gs.flex(row, space-between, center);

                &>span {
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: capitalize;

                    &:nth-of-type(2) {
                        color: gs.$pink;
                    }
                }
            }

            &__values {
                margin-top: 0.5rem;
            }
        }


        &__color {
            @include gs.flex(column, none, flex-start);
            width: 11rem;
            margin-right: 1.6rem;

            @include gs.breakpoint(tablet-start, tablet-end) {
                margin-right: 0;
                margin-inline: auto;
                @include gs.flex(column, center, center);
            }

            @include gs.breakpoint(mobile-start, mobile-end) {
                margin-right: 0;
                margin-inline: auto;
            }

            &>p {
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: 400;
                margin: 0 0 1rem 0;

                @include gs.breakpoint(mobile-start, mobile-end) {
                    margin: 1rem 0 0.5rem 0;
                    margin-inline: auto;
                }
            }

            &>div {
                @include gs.flex(row, none, center);
            }
        }


        &__price__buttons {
            width: 94%;
            @include gs.flex(row, space-between, center);

            @include gs.breakpoint(tablet-start, tablet-end) {
                width: 65%;
                margin-inline: auto;
            }

            @include gs.breakpoint(mobile-start, mobile-end) {
                width: 100%;
            }
        }
    }


}